

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('https://www.nydailynews.com/resizer/Ixp3_DlS0gZPeQrpIIxAQ24aH1g=/1200x0/center/top/cloudfront-us-east-1.images.arcpublishing.com/tronc/2ZOLJUIZSJHLRDMF3LE56RTAJY.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;

}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #ffffff;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #000000;
color: rgb(255, 255, 255);
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: rgb(255, 255, 255);
background-color: #000000;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}